<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCareApp"
        tools:targetApi="31">
        <activity
            android:name=".NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MedicineOrderProductsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AdminMedicineOrderDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MedicinesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TopMedicinesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TopDoctorsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorSearchResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MedicineSearchResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MedicineSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MedicineDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.UpdateMedicinesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.UpdateUsersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.UpdateDoctorsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AdminCreateNewUsersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AdminAddMedicinesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AdminAddDoctorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AdminSignInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AdminDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HeartRateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AiChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoctorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TermsConditionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmailVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpLoginScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>